---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_API_KEY>&exclude=minutely&lat=39.739154&lon=-104.984703&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.74,"lon":-104.98,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1604870908,"sunrise":1604842631,"sunset":1604879418,"temp":58.21,"feels_like":45.01,"pressure":1002,"humidity":12,"dew_point":8.65,"uvi":2.77,"clouds":20,"visibility":10000,"wind_speed":12.75,"wind_deg":180,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1604869200,"temp":58.21,"feels_like":42.53,"pressure":1002,"humidity":12,"dew_point":8.65,"clouds":20,"visibility":10000,"wind_speed":17.13,"wind_deg":198,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1604872800,"temp":58.23,"feels_like":43.84,"pressure":1002,"humidity":20,"dew_point":19,"clouds":10,"visibility":10000,"wind_speed":16.24,"wind_deg":204,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1604876400,"temp":57.54,"feels_like":43.48,"pressure":1001,"humidity":26,"dew_point":23.99,"clouds":4,"visibility":10000,"wind_speed":16.6,"wind_deg":209,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}][...]
